@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@500&family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #160101;
    overflow-x: hidden;
}


body .secMission {
    overflow-y: hidden;
}

header {
    background-color: #16010100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}

.logo {
    height: auto;
    width: 200px;
    color: #359381;
    pointer-events: auto;
    margin-right: 250px;
}

.navigation a {
    text-decoration: none;
    color: #fff;
    padding: 6px 15px;
    border-radius: 20px;
    margin: 0 10px;
    font-weight: 600;
}

.navigation a:hover {
    background: #359381;
    color: #fff;
    letter-spacing: 0.25em;
    transition: all 0.3s ease-in-out;
}


.parallax {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    margin-bottom: 100px;

}

#text {
    padding: 10px 20px;
    position: relative;
    font-size: 8em;
    color: #fff;
    letter-spacing: 0.1em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    top: 0;
    transition: 0.3s;
}

#text:hover {
    letter-spacing: 0.25em;
}


.parallax h2.em {
    position: relative;
    color: #fff;
    text-transform: uppercase;
    font-size: 2.5em;
    letter-spacing: 0.1em;
    font-weight: 800px;

    padding: 5px 20px;
    transition: 0.3s;
    text-decoration: none;
}

.parallax h2.em:hover {
    letter-spacing: 0.25em;
    background: var(--clr);
    text-shadow: 0 0 35px var(--clr);
}



.parallax img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-bottom: 100px;
    pointer-events: none;
    transition: 0.4 ease-in-out;
}

.secMission {
    position: relative;
    background: hsl(168, 100%, 10%);
    padding: 100px;
    max-height: 150vh;

    scroll-behavior: auto;
}

.secMission h2 {
    font-size: 3em;
    color: #fff;
    margin-bottom: 10px;
}

.secMission p {
    font-size: 1em;
    color: #f5eeee;
    font-weight: 300;
}



#team {
    color: rgb(247, 237, 237);
    display: flex;
    justify-content: center;
    padding-top: 70px;
    background-color: hsl(168, 100%, 10%);
    z-index: 100;


}

.home-container {
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    background-color: hsl(168, 100%, 10%);
    justify-content: center;
    z-index: 200;

}

.profile-card {
    position: relative;
    width: 210px;
    height: 200px;
    /* background-color: #fff; */
    /* padding: 30px; */
    border-radius: 50%;
    /* box-shadow: -5px 8px 45px rgba(51, 51, 51, 0.126); */
    transition: all .4s;
    margin: 0 20px;
}

.profile-card:hover {
    border-radius: 10px;
    height: 260px;
}

.profile-card .img {
    position: relative;
}

.profile-card:hover img {
    border-radius: 10px;
    transform: translateY(-70px);
}

.img img {

    width: 100%;
    border-radius: 55%;
    transition: all .4s;
    z-index: 99;
}

.caption {
    text-align: center;
    transform: translateY(-80px);
    opacity: 0;
    pointer-events: none;
    transition: all .5s;
}

.profile-card:hover .caption {
    opacity: 20;
    pointer-events: all;
}

.caption h3 {
    font-size: 15px;
    color: rgb(255, 255, 255);
    font-weight: 600;
}

.caption p {
    font-size: 15px;
    font-weight: 500;
    margin: 2px 0 12px 0;
    color: rgb(243, 253, 253)
}

.caption .social-links i {
    font-size: 21px;
    margin: 0 3px;
    cursor: pointer;
    color: #30a8b1;
    transition: all .4s;
}

.caption .social-links i:hover {
    color: #4b7fba;
}



.container{
    max-width: 1170px;
   
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
summary{
    color: #ffffff;
}
ul{
    list-style: none;
}


.footer{
    background-color: #24262b;
    padding: 50px 0;
}
.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    text-decoration: none;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:kast-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
}
.fab{
    color: white;
}

@media(max-width: 767px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}
@media(max-width: 574px){
    .footer-col{
        width:100%;
    }
}
